<style type="text/css">
	.datagrid-row-over td{
		background:#D0E5F5;
	}
	.datagrid-row-selected td{
		background:#FBEC88;
		color:#000;
	}
</style>
<div id="grid_nya_{$main}" style="margin-left:8px;width:100%">
	<div id='grid_{$main}' style="width:100%"></div>
	<div id='tb_{$main}' style="padding:5px;height:{$tinggi_toolbar|default:'50px'};">
		<div style="float:{$align|default:'left'}; width:100%;">
			
			<div style="float:{$align|default:'left'}; width:100%;">
						<label style='width:100px;'>Kamera </label>: &nbsp;&nbsp;
						<select id="camera_{$acak}" name="camera" style="height:28px;width:200px;">
							{foreach from=$ip item=i}
							<option value="{$i.ip|default:''}">{$i.ip|default:''} ({$i.deskripsi|default:''})</option>
							{/foreach}
						</select>&nbsp;&nbsp;
						<label style='width:100px;'>Plat </label>: &nbsp;&nbsp;
						<input type="text" name="plat_nomor" id="plat_nomor_{$acak}" style="width:100px;height:22px;">
						<label style='width:100px;'>Speed</label>: &nbsp;&nbsp;
						<select name="speed" id="speed_{$acak}">
							<option value=""></option>
							<option value="<60"><60 km</option>
							<option value="61-80">61-80 km</option>
							<option value=">80">>80 km</option>
						</select>&nbsp;&nbsp;
						<label style='width:100px;'>Tgl. Capture</label>: &nbsp;&nbsp;
						<input type="text" name="capture_time_milai" id="capture_time_mulai_{$acak}" style="width:100px;height:22px;" class="tgl"> - 
						<input type="text" name="capture_time_akhir" id="capture_time_akhir_{$acak}" style="width:100px;height:22px;" class="tgl">
						&nbsp;&nbsp;
						<a href="javascript:void(0)" style='' class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="filter_data2();">
							<span class="l-btn-left l-btn-icon-left">
								<span class="l-btn-text">Cari</span><span class="l-btn-icon icon-search">&nbsp;</span>
							</span>
						</a>&nbsp;&nbsp;
						<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="export_data('excel','{$main}','{$acak}');">
								<span class="l-btn-left l-btn-icon-left">
									<span class="l-btn-text">Export Excel</span><span class="l-btn-icon icon-excel">&nbsp;</span>
								</span>
						</a>
			</div>
			
		</div>
	</div>
</div>
<div id='detil_nya_{$main}' width='100%'></div>
<script>
var acak_na='{$acak}';
	$('.tgl').datepicker({
		 format: 'yyyy-mm-dd',
		 autoclose: true
	});

	$('#grid_nya_{$main}').css({
		'height':( {$height_grid|default:'getClientHeight()-140'} ),
		'width':( {$height_grid|default:'getClientWidth()-130'} ),
		
	});
	$(document).keypress(function(e) {
		if(e.which == 13) {
			cariData('{$main}', '{$acak}');
		}
	});
genGrid('{$main}','grid_{$main}');

function filter_data2(){
	/*$.post('{$host}modul/get_konten/get_kendaraan',{ plat_nomor:$('#plat_nomor_{$acak}').val(),tgl:$('#capture_time_{$acak}').val(),ip:$('#camera_{$acak}').val() },function(r){
		$('.dt').html(r);
	});
	*/
	grid_nya.datagrid('reload',{ plat_nomor:$('#plat_nomor_{$acak}').val(),speed:$('#speed_{$acak}').val(),tgl_mulai:$('#capture_time_mulai_{$acak}').val(),tgl_akhir:$('#capture_time_akhir_{$acak}').val(),ip:$('#camera_{$acak}').val() } )
}
</script>

	
