<style type="text/css">
	.datagrid-row-over td{
		background:#D0E5F5;
	}
	.datagrid-row-selected td{
		background:#FBEC88;
		color:#000;
	}
</style>
<div id="grid_nya_{$main}" style="margin-left:8px;width:100%">
	<div id='grid_{$main}' style="width:100%"></div>
	<div id='tb_{$main}' style="padding:5px;height:{$tinggi_toolbar|default:'50px'};">
		<div style="float:{$align|default:'left'}; width:100%;">
			
			<div style="float:{$align|default:'left'}; width:100%;">
						
						<label style='width:100px;'>Keyword </label>: &nbsp;&nbsp;
						<input type="text" name="key" id="key_{$acak}" style="width:300px;height:22px;">
						
						<a href="javascript:void(0)" style='' class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="filter_data3();">
							<span class="l-btn-left l-btn-icon-left">
								<span class="l-btn-text">Cari</span><span class="l-btn-icon icon-search">&nbsp;</span>
							</span>
						</a>&nbsp;&nbsp;
						
						
						<a href="javascript:void(0)" style='float:right;' class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="genform('delete', 'user','user');">
							<span class="l-btn-left l-btn-icon-left">
								<span class="l-btn-text">Hapus</span><span class="l-btn-icon icon-no">&nbsp;</span>
							</span>
						</a>	
						&nbsp;			

						<a href="javascript:void(0)" style='float:right;' class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="genform('edit', 'user','user');">
							<span class="l-btn-left l-btn-icon-left">
								<span class="l-btn-text">Edit</span><span class="l-btn-icon icon-edit">&nbsp;</span>
							</span>
						</a>
						&nbsp;
						
						<a href="javascript:void(0)" style='float:right;' class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="genform('add', 'user','user');">
							<span class="l-btn-left l-btn-icon-left">
								<span class="l-btn-text">Tambah</span><span class="l-btn-icon icon-add">&nbsp;</span>
							</span>
						</a>
						
			</div>
			
		</div>
	</div>
</div>
<div id='detil_nya_{$main}' width='100%'></div>
<script>
var acak_na='{$acak}';
	
	$('#grid_nya_{$main}').css({
		'height':( {$height_grid|default:'getClientHeight()-140'} ),
		'width':( {$height_grid|default:'getClientWidth()-130'} ),
		
	});
	$(document).keypress(function(e) {
		if(e.which == 13) {
			cariData('{$main}', '{$acak}');
		}
	});
genGrid('{$main}','grid_{$main}');

function filter_data3(){
	grid_nya.datagrid('reload',{ key:$('#key_{$acak}').val() } )
}
</script>

	
