
        <!-- /.row -->
        <!-- Main row -->
		<div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 id="t_kendaraan_{$acak}">0</h3>

                <p>Total Kendaraan</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 id="t_60_{$acak}">0</h3>

                <p>Kecepatan 0-60 km</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3 id="t_80_{$acak}">0</h3>

                <p>Kecepatan 61-80 km</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3 id="t_100_{$acak}">0</h3>

                <p>Kecepatan > 80 km</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
		
 <div class="row">
	<div class="card card-primary card-tabs">
		<div class="card-header p-0 pt-1">
             <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
               <li class="nav-item">
                 <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Live View</a>
               </li>
               <!--li class="nav-item">
                 <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Grafik</a>
               </li-->
               
             </ul>
         </div>
		 <div class="card-body">
			<div class="tab-content" id="custom-tabs-one-tabContent">
              <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
				 <div class="row">
					<div class="col-lg-8 ">
						<!-- Custom tabs (Charts with tabs)-->
						
						<div class="card card-danger">
						  <div class="card-header">
							<h3 class="card-title">
							  <i class="fas fa-chart-pie mr-1"></i>
							  Live View
							</h3>
						   
						  </div><!-- /.card-header -->
						  <div class="card-body">
							<div class="tab-content p-0">
							  <!-- Morris chart - Sales -->
							  
							 <!--canvas id="myCanvas" class="col-lg-12"></canvas><br>
								
								<div class="mute"></div-->
								<table class="table table-hover">
									<tr>
										<td>&nbsp;</td>
										<td style="width:20%">
											Camera
										</td>
										<td>:</td>
										<td style="font-weight:bold;">
											<select id="camera_{$acak}" name="camera" class="form-control">
												{foreach from=$ip item=i}
												<option value="{$i.ip|default:''}">{$i.ip|default:''} ({$i.deskripsi|default:''})</option>
												{/foreach}
											</select>
										</td>
									</tr>
								</table>
								<!--iframe style="width:100%;height:400px" src="http://admin:qwerty123!@36.91.135.155:9002/ISAPI/Streaming/channels/102/httpPreview">
								
								</iframe-->
												
								<video id='hls-example' class="video-js vjs-default-skin" style="width:100%;height:400px" controls>
									<source id="stream_{$acak}" type="application/x-mpegURL" src="{$host}__repo/stream/{$ip.0.ip|default:'-'}/streaming_.m3u8">
								</video>
								
								<br>
							  
							</div>
						  </div><!-- /.card-body -->
						</div>
						
					  
					  </div>
					  <!-- /.Left col -->
					  <!-- right col (We are only adding the ID to make the widgets sortable)-->
					  <div class="col-lg-4 ">

						<div class="card card-danger">
						  <div class="card-header">
							<h3 class="card-title">
							  <i class="fas fa-chart-pie mr-1"></i>
							  META DATA
							</h3>
						   
						  </div><!-- /.card-header -->
						  <div class="card-body">
							<div class="col-lg-12">
								<div class="col-lg-12">
									<div class="card card-primary">
									  <div class="card-header">
										<h5 class="card-title">FOTO KENDARAAN</h5>
									  </div>
									  <div class="card-body">
										<a id="example1" href="javascript:void(0);"  class="a_mobil" data-url="" onclick="debugBase64($(this).attr('data-url'))">
											<img alt="example1" src="" class="img-fluid pad gbr_mobil" />
										</a>
										<!--a href=""  data-toggle="lightbox" data-title="sample 1 - white" class="a_gbr_mobil">
											<img src="" class="img-fluid mb-2 gbr_mobil" alt="white sample" style="width:100%"/>
										</a-->
										<!--img class="img-fluid pad gbr_mobil" src="" alt="Photo" -->
									  </div>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="card card-primary">
									  <div class="card-header">
										<h5 class="card-title">FOTO FLAT KENDARAAN</h5>
										
									  </div>
									  <div class="card-body">
										<center>
										<a id="example2" href="javascript:void(0);"  class="a_plat" data-url="" onclick="debugBase64($(this).attr('data-url'))">
											<img class="img-fluid pad gbr_plat" src="" alt="Photo"></center>
										</a>
										
									  </div>
									</div>
								</div>
							</div>
						  </div><!-- /.card-body -->
						</div>
					   
					  </div>
					  
					  <div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<div class="card card-danger">
								  <div class="card-header">
									<h3 class="card-title">
									  <i class="fas fa-chart-pie mr-1"></i>
									  Klasifikasi Kecepatan
									</h3>
								   
								  </div>
								  <div class="card-body">
									<div class="tab-content p-0">
										<div id="chart_kecepatan_{$acak}" style="width:100%"></div>
									</div>
								  </div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="card card-danger">
								  <div class="card-header">
									<h3 class="card-title">
									  <i class="fas fa-chart-pie mr-1"></i>
									  Grafik
									</h3>
								   
								  </div>
								  <div class="card-body">
									<div class="tab-content p-0">
										<table class="table table-hover">
											<tr>
												<td>&nbsp;</td>
												<td style="width:20%">
													Tgl
												</td>
												<td>:</td>
												<td style="font-weight:bold;">
													<input type="text" name="capture_time_start" id="capture_time_start_{$acak}" style="width:300px%;height:22px;" class="tgl" value='{$yesterday|date_format:"%Y-%m-%d"}'> - 
													<input type="text" name="capture_time_end" id="capture_time_end_{$acak}" style="width:300px%;height:22px;" class="tgl" value='{$smarty.now|date_format:"%Y-%m-%d"}'>
												</td>
											</tr>
										</table>
										<div id="chart_klass_{$acak}" style="width:100%"></div>
									</div>
								  </div>
								</div>
							</div>
						</div>
					  
					  </div>
					  
					  <section class="col-lg-12 connectedSortable">
						<div class="card card-danger">
						  <div class="card-header">
							<h3 class="card-title">Meta Data Kendaraan</h3>

							<div class="card-tools">
							  
							</div>
						  </div>
						
						  <div class="card-body table-responsive p-0">
							
							<div id='tb_dt_kendaraan_{$acak}' style="padding:5px;height:35px;">
								<div style="float:{$align|default:'left'}; width:100%;">
									<label style='width:100px;'>Plat </label>: &nbsp;&nbsp;
									<input type="text" name="plat_nomor" id="plat_nomor_{$acak}" style="width:300px;height:22px;">
									<label style='width:100px;'>Speed</label>: &nbsp;&nbsp;
									<select name="speed" id="speed_{$acak}">
										<option value=""></option>
										<option value="<60"><60 km</option>
										<option value="61-80">61-80 km</option>
										<option value=">80">>80 km</option>
									</select>&nbsp;&nbsp;
									<label style='width:100px;'>Tgl. Capture</label>: &nbsp;&nbsp;
									<input type="text" name="capture_time_milai" id="capture_time_mulai_{$acak}" style="width:300px%;height:22px;" class="tgl"> - 
									<input type="text" name="capture_time_akhir" id="capture_time_akhir_{$acak}" style="width:300px%;height:22px;" class="tgl">
								</div>
							</div>
							<div id="dt_kendaraan_{$acak}"></div>
						  </div>
						  
						</div>
					  </section>
					 
				</div>
              </div>
              <!--div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                 
						<div class="col-lg-12">
						
						<div class="card card-danger">
						  <div class="card-header">
							<h3 class="card-title">
							  <i class="fas fa-chart-pie mr-1"></i>
							  Live View
							</h3>
						   
						  </div>
						  <div class="card-body">
							<div class="tab-content p-0">
							 
								<table class="table table-hover">
									<tr>
										<td>&nbsp;</td>
										<td style="width:20%">
											Camera
										</td>
										<td>:</td>
										<td style="font-weight:bold;">
											<select id="camera_{$acak}" name="camera" class="form-control">
												{foreach from=$ip item=i}
												<option value="{$i.ip|default:''}">{$i.ip|default:''} ({$i.deskripsi|default:''})</option>
												{/foreach}
											</select>
										</td>
									</tr>
								</table>
								
							</div>
						  </div>
						</div>
						
					  
					  </div>

				 
              </div-->
             
            </div>
		 </div>
       
          
    </div>
  </div>
        <!-- /.row (main row) -->
		
<script>
setInterval(function(){
	filter_data();
 }, 10000);
 var player = videojs('hls-example');
    player.play();
 //$("a#example1").fancybox();
//chart_na('chart_kecepatan_{$acak}','pie',"Klasifikasi Kecepatan","berdasarkan kecepatan");

 $.post(host+'modul/get_chart/klass',{ ip:$('#camera_{$acak}').val() },function(r){
		console.log(r);
		var js=JSON.parse(r);
		$('#chart_{$acak}').removeClass('loading');
		//chart_na('chart_{$acak}','line','','','',js.x,js.y,'');
		chart_na('chart_kecepatan_{$acak}','pie',"Klasifikasi Kecepatan","berdasarkan kecepatan",'',js);
	});
	
chat_total();
$('#capture_time_start_{$acak}').change(function(){
	chat_total();
});
$('#capture_time_end_{$acak}').change(function(){
	chat_total();
})
 $("#camera_{$acak}").on("change",function(){
	//alert($(this).val());
	var videosource = document.getElementById('stream_{$acak}');
	var videoFile="{$host}__repo/stream/"+$(this).val()+"/streaming_.m3u8";
	var video = document.getElementById('hls-example');
	var param={  };
	player.src(videoFile);
	videosource.src = videoFile;
	player.play();
	filter_data();
	
 });
 function chat_total(){
	$.post(host+'modul/get_chart/t_kendaraan',{ ip:$('#camera_{$acak}').val(),tgl_mulai:$('#capture_time_start_{$acak}').val(),tgl_akhir:$('#capture_time_end_{$acak}').val() },function(r){
		var js=JSON.parse(r);
		console.log(js.y);
		$('#chart_{$acak}').removeClass('loading');
		//chart_na('chart_{$acak}','line','','','',js.x,js.y,'');
		chart_na('chart_klass_{$acak}','column',"Klasifikasi Kecepatan","berdasarkan kecepatan",'',js.y,js.x);
	});
 }
/*setInterval(function(){
 
	filter_data()

 }, 3000);
 */
$('.tgl').datepicker({
	 format: 'yyyy-mm-dd',
	 autoclose: true
});




	
/*
var mediaSource = "__assets/video/vid2.mp4";
var muted = true;
var canvas = document.getElementById("myCanvas"); // get the canvas from the page
var ctx = canvas.getContext("2d");
var videoContainer; // object to hold video and associated info
var video = document.createElement("video"); // create a video element
video.src = mediaSource;
// the video will now begin to load.
// As some additional info is needed we will place the video in a
// containing object for convenience
video.autoPlay = false; // ensure that the video does not auto play
video.loop = true; // set the video to loop.
video.muted = muted;
videoContainer = {  // we will add properties as needed
     video : video,
     ready : false,   
};
// To handle errors. This is not part of the example at the moment. Just fixing for Edge that did not like the ogv format video
video.onerror = function(e){
    document.body.removeChild(canvas);
    document.body.innerHTML += "<h2>There is a problem loading the video</h2><br>";
    document.body.innerHTML += "Users of IE9+ , the browser does not support WebM videos used by this demo";
    document.body.innerHTML += "<br><a href='https://tools.google.com/dlpage/webmmf/'> Download IE9+ WebM support</a> from tools.google.com<br> this includes Edge and Windows 10";
    
 }
video.oncanplay = readyToPlayVideo; // set the event to the play function that 
                                  // can be found below
function readyToPlayVideo(event){ // this is a referance to the video
    // the video may not match the canvas size so find a scale to fit
    videoContainer.scale = Math.min(
                         canvas.width / this.videoWidth, 
                         canvas.height / this.videoHeight); 
    videoContainer.ready = true;
    // the video can be played so hand it off to the display function
    requestAnimationFrame(updateCanvas);
    // add instruction
   // document.getElementById("playPause").textContent = "Click video to play/pause.";
    //document.querySelector(".mute").textContent = "Mute";
	//draw();
}

function updateCanvas(){
    ctx.clearRect(0,0,canvas.width,canvas.height); 
    // only draw if loaded and ready
    if(videoContainer !== undefined && videoContainer.ready){ 
        // find the top left of the video on the canvas
        video.muted = muted;
        var scale = videoContainer.scale;
        var vidH = videoContainer.video.videoHeight;
        var vidW = videoContainer.video.videoWidth;
        var top = canvas.height / 2 - (vidH /2 ) * scale;
        var left = canvas.width / 2 - (vidW /2 ) * scale;
        // now just draw the video the correct size
        ctx.drawImage(videoContainer.video, left, top, vidW * scale, vidH * scale);
        if(videoContainer.video.paused){ // if not playing show the paused screen 
            drawPayIcon();
			//draw();
        }else{
			//draw();
		}
    }
    // all done for display 
    // request the next frame in 1/60th of a second
    requestAnimationFrame(updateCanvas);
}

function drawPayIcon(){
     ctx.fillStyle = "black";  // darken display
     ctx.globalAlpha = 0.5;
     ctx.fillRect(0,0,canvas.width,canvas.height);
     ctx.fillStyle = "#DDD"; // colour of play icon
     ctx.globalAlpha = 0.75; // partly transparent
     ctx.beginPath(); // create the path for the icon
     var size = (canvas.height / 2) * 0.5;  // the size of the icon
     ctx.moveTo(canvas.width/2 + size/2, canvas.height / 2); // start at the pointy end
     ctx.lineTo(canvas.width/2 - size/2, canvas.height / 2 + size);
     ctx.lineTo(canvas.width/2 - size/2, canvas.height / 2 - size);
     ctx.closePath();
     ctx.fill();
     ctx.globalAlpha = 1; // restore alpha
	 
	ctx.strokeStyle = 'red';
    ctx.lineWidth = 5;

    
}    

function playPauseClick(){
     if(videoContainer !== undefined && videoContainer.ready){
          if(videoContainer.video.paused){                                 
                videoContainer.video.play();
				
          }else{
                videoContainer.video.pause();
				
          }
     }
}
function videoMute(){
    muted = !muted;
	if(muted){
         document.querySelector(".mute").textContent = "Mute";
    }else{
         document.querySelector(".mute").textContent= "Sound on";
    }


}
function draw() {
        // Assign our canvas element to a variable 
	// Draw Filled Shape 2 (left flap of logo)
	var size = (canvas.height / 2) * 0.5; 
	// draw a red line
    ctx.beginPath();
	ctx.moveTo(canvas.width/2 + size/2, canvas.height / 2); // start at the pointy end
    //ctx.moveTo(1, 100);
    ctx.lineTo(100, 100);
    ctx.stroke();
}
*/
function filter_data(){
	/*$.post('{$host}modul/get_konten/get_kendaraan',{ plat_nomor:$('#plat_nomor_{$acak}').val(),tgl:$('#capture_time_{$acak}').val(),ip:$('#camera_{$acak}').val() },function(r){
		$('.dt').html(r);
	});
	*/
	grid_nya.datagrid('reload',{ plat_nomor:$('#plat_nomor_{$acak}').val(),speed:$('#speed_{$acak}').val(),tgl_mulai:$('#capture_time_mulai_{$acak}').val(),tgl_akhir:$('#capture_time_akhir_{$acak}').val(),ip:$('#camera_{$acak}').val() } )
	$.post('{$host}modul/get_total',{ ip:$('#camera_{$acak}').val() },function(r){
		var js=JSON.parse(r);
		$('#t_kendaraan_{$acak}').html(js.t_kendaraan);
		$('#t_60_{$acak}').html(js.t_60);
		$('#t_80_{$acak}').html(js.t_80);
		$('#t_100_{$acak}').html(js.t_100);
		
	});
	
}

// register the event
var acak_na='{$acak}';
//canvas.addEventListener("click",playPauseClick);
genGrid('kendaraan', 'dt_kendaraan_{$acak}',(getClientWidth()-100),(getClientHeight()-300));
$.post('{$host}modul/get_total',{ ip:$('#camera_{$acak}').val() },function(r){
		var js=JSON.parse(r);
		$('#t_kendaraan_{$acak}').html(js.t_kendaraan);
		$('#t_60_{$acak}').html(js.t_60);
		$('#t_80_{$acak}').html(js.t_80);
		$('#t_100_{$acak}').html(js.t_100);
		
	});

</script>