<section class="sidebar">

	  <!--div class="user-panel">
        <div class="pull-left image">
          <img src="{$host}/__assets/img/avatar.png" class="img-circle"  alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{$auth.nm_perusahaan}</p>
          
        </div>
      </div-->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">&nbsp;</li>
		{if $auth.cl_user_group_id !=3}
		<li>
          <a href="{$host}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
			
            </span>
          </a>
        </li>
		<li class="treeview">
          <a href="#">
            <i class="fa fa-th"></i> <span>SDM Menu</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}m-pegawai')"><i class="fa fa-circle-o"></i>Pegawai</a></li>
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}absensi2')"><i class="fa fa-circle-o"></i>Absensi</a></li>
			 {* <li><a href="javascript:void(0);" onclick="loadUrl('{$host}penilaian')"><i class="fa fa-circle-o"></i>Penilaian Kinerja</a></li> *}
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}training')"><i class="fa fa-circle-o"></i>Training</a></li>
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}cuti')"><i class="fa fa-circle-o"></i>Cuti</a></li>
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}lembur')"><i class="fa fa-circle-o"></i>Lembur</a></li>
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}kalender')"><i class="fa fa-circle-o"></i>Kalender SDM</a></li>
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}m-qrcode')"><i class="fa fa-circle-o"></i>Cetak QR Code</a></li>
          </ul>
        </li>
		<li class="treeview">
          <a href="#">
            <i class="fa  fa-file-excel-o"></i> <span>Penilaian Kinerja</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
			  <li><a  href="javascript:void(0);" onclick="loadUrl('{$host}periode')"><i class="fa fa-circle-o"></i>Setting Periode</a></li>
			  <li><a  href="javascript:void(0);" onclick="loadUrl('{$host}kriteria')"><i class="fa fa-circle-o"></i>Kriteria NewCommer</a></li>
			  <li><a  href="javascript:void(0);" onclick="loadUrl('{$host}kriteria-staff')"><i class="fa fa-circle-o"></i>Krit. Staff & Teknisi</a></li>
			  <li><a  href="javascript:void(0);" onclick="loadUrl('{$host}kriteria-pm')"><i class="fa fa-circle-o"></i>Krit. PM&KA Team</a></li>
			  <!--li><a  href="javascript:void(0);" onclick="loadUrl('{$host}kriteria-staff-reg')"><i class="fa fa-circle-o"></i>Kriteria Staff</a></li-->
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}penilaian-newcommer')"><i class="fa fa-circle-o"></i>New Commer</a></li>
			  <!--li><a href="javascript:void(0);" onclick="loadUrl('{$host}penilaian-staff')"><i class="fa fa-circle-o"></i>PM & KA Team</a></li-->
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}penilaian-pm')"><i class="fa fa-circle-o"></i>PM & KA Team</a></li>
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}penilaian-staff-tk')"><i class="fa fa-circle-o"></i>Teknisi</a></li>
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}penilaian-staff-reg')"><i class="fa fa-circle-o"></i>Staff</a></li>
          </ul>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}pengumuman')">
            <i class="fa fa-bullhorn"></i> <span>Pengumuman</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
		
		<li class="treeview">
          <a href="#">
            <i class="fa fa-database"></i> <span>Master Data</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
			  <li><a  href="javascript:void(0);" onclick="loadUrl('{$host}m-jabatan')"><i class="fa fa-circle-o"></i>Jabatan</a></li>
			  <li><a  href="javascript:void(0);" onclick="loadUrl('{$host}m-departemen')"><i class="fa fa-circle-o"></i>Departemen</a></li>
			  <li><a  href="javascript:void(0);" onclick="loadUrl('{$host}m-unit')"><i class="fa fa-circle-o"></i>Unit</a></li>
			  <li><a  href="javascript:void(0);" onclick="loadUrl('{$host}m-sunit')"><i class="fa fa-circle-o"></i>SubUnit</a></li>
			  <!--li><a  href="javascript:void(0);" onclick="loadUrl('{$host}m-user-cabang')"><i class="fa fa-circle-o"></i>User Cabang</a></li-->
			  <li><a  href="javascript:void(0);" onclick="loadUrl('{$host}m-user')"><i class="fa fa-circle-o"></i>Daftar User</a></li>
			  <li><a  href="javascript:void(0);" onclick="loadUrl('{$host}m-user-group')"><i class="fa fa-circle-o"></i>User Group</a></li>
			  
          </ul>
        </li>
		<li class="treeview">
          <a href="#">
            <i class="fa  fa-file-excel-o"></i> <span>Laporan</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/get_laporan/absensi')"><i class="fa fa-circle-o"></i>Absensi</a></li>
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/get_laporan/cuti')"><i class="fa fa-circle-o"></i>Cuti</a></li>
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/get_laporan/lembur')"><i class="fa fa-circle-o"></i>Lembur</a></li>
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/get_laporan/penilaian_new')"><i class="fa fa-circle-o"></i>Penilaian NewCommer</a></li>
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/get_laporan/penilaian_pm')"><i class="fa fa-circle-o"></i>Penilaian PM & KA Team</a></li>
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/get_laporan/penilaian_staff')"><i class="fa fa-circle-o"></i>Penilaian Staff</a></li>
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/get_laporan/penilaian_teknisi')"><i class="fa fa-circle-o"></i>Penilaian Teknisi</a></li>
			  
          </ul>
        </li>
		{else}
		<li class="treeview">
          <a href="#">
            <i class="fa  fa-file-excel-o"></i> <span>Penilaian Kinerja</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
			  <!--li><a  href="javascript:void(0);" onclick="loadUrl('{$host}kriteria')"><i class="fa fa-circle-o"></i>Kriteria NewCommer</a></li>
			  <li><a  href="javascript:void(0);" onclick="loadUrl('{$host}kriteria-staff')"><i class="fa fa-circle-o"></i>Kriteria Teknisi</a></li-->
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}penilaian-newcommer')"><i class="fa fa-circle-o"></i>New Commer</a></li>
			  <!--li><a href="javascript:void(0);" onclick="loadUrl('{$host}penilaian-staff')"><i class="fa fa-circle-o"></i>Staff</a></li-->
			  <li><a href="javascript:void(0);" onclick="loadUrl('{$host}penilaian-staff-tk')"><i class="fa fa-circle-o"></i>Teknisi</a></li>
          </ul>
        </li>
		{/if}
      </ul>
    </section>
